include ../data/faq-data
include icons

section(class='faq reveal' id='faq')
	div(class='container faq__container')
		header(class='section-heading')
			h2(class='section-heading__title')= faqData.title
			p(class='section-heading__lead')= faqData.lead
		div(class='faq__list')
			each item, index in faqData.items
				div(class='faq__item')
					button(class='faq__trigger' type='button' aria-expanded='false' id=`faq-trigger-${index}` aria-controls=`faq-panel-${index}`)
						span(class='faq__question')= item.question
						span(class='faq__icon')
							+icon('chevron-down')
					div(class='faq__panel' id=`faq-panel-${index}` role='region' aria-labelledby=`faq-trigger-${index}` hidden)
						p(class='faq__answer')= item.answer
