block config
	-let currentLang 		= 'en'
	-let currentPage 		= 'home'
	-let content 			= 'My Page'
	-let siteName 			= 'Kike Estrada Developer'
	-let pageTitle 			= ''
	-let pageDescription 	= ''
include ../data/site-data
-
	const seoTitle = pageTitle || siteData.title
	const seoDescription = pageDescription || siteData.description
	const seoBrand = siteName || siteData.brand
doctype html
html(lang=siteData.htmlLang prefix='og: http://ogp.me/ns#', class='no-js')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name='format-detection', content='telephone=no')
		meta(name="theme-color", content="#0a0a0a")
		meta(name="robots", content="index, follow, max-image-preview:large")
		meta(name="author", content=siteData.author)
		meta(name="keywords", content=siteData.keywords)
		link(rel="icon", type="image/png", href=siteData.icon)
		link(rel="shortcut icon", type="image/png", href=siteData.icon)
		link(rel="apple-touch-icon", href=siteData.icon)
		link(rel="alternate", hreflang="en", href=siteData.langUrls.en)
		link(rel="alternate", hreflang="es", href=siteData.langUrls.es)
		link(rel="alternate", hreflang="x-default", href=siteData.langUrls.en)
		meta(name="description", content=seoDescription)
		meta(property="og:type", content="website")
		meta(property="og:locale", content=siteData.locale)
		meta(property="og:locale:alternate", content=siteData.localeAlternate)
		meta(property="og:site_name", content=seoBrand)
		meta(property="og:title", content=seoTitle)
		meta(property="og:description", content=seoDescription)
		meta(property="og:image", content=siteData.ogImage)
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:title", content=seoTitle)
		meta(name="twitter:description", content=seoDescription)
		meta(name="twitter:image", content=siteData.ogImage)
		meta(http-equiv="Content-Security-Policy", content="upgrade-insecure-requests")
		meta(http-equiv="Cache-Control", content="no-cache, no-store, must-revalidate")
		meta(http-equiv="Expires", content="0")
		meta(http-equiv="Pragma", content="no-cache")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href=`styles.css?v=${siteData.assetVersion}`)
		title= seoTitle
	body(class=currentPage, itemscope itemtype="http://schema.org/WebPage")
		//- here start the Main Header
		header(class='main-header')
			block main-header
		//- here ends the Main Header
		//- here start the Main Container
		main(class='main-container')
			block main-container
		//- here ends the Main Container
		//- here start the Main Footer
		footer(class='main-footer')
			block main-footer
		//- here ends the Main Footer
		include ../modules/floating-button
		script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
		script(src=`index.js?v=${siteData.assetVersion}`)
		block scripts
